/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

strong {
    font-size: 200%;
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f7f7f7;
}

.hidden-heading {
    display: none;
}

/* Header formatting */
header {
    background-color: #252525;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #252525;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    font: 100%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #f7f7f7;
}

/* navigation bar with dropdown toggle */
nav {
    position: absolute;
    background-color: #252525;
    padding: 0 1rem;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #252525;
    display: none;
    top: 100%;
    color: #f7f7f7;
}

/* navigation toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
    color: #f7f7f7;
}

/* Main content */
main {
    /* Enlarge main element to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 45px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero") no-repeat center center/cover;
    position: relative;
}



/* Footer */
footer {
    position: fixed;
    display: flex;
    background-color: #252525;
    padding: 0 1rem;
    width: 100%;
    bottom: 0;
    right: 0;
    letter-spacing: 2px;
    flex-basis: auto;
    justify-content: space-between;
    list-style-type: none;
    color: #f7f7f7;
}

footer i {
    font-size: 150%;
    padding: 10px;
    color: #f7f7f7;
}

footer a {
    font-size: 100%;
    text-decoration: none;
    color: #f7f7f7;
}

#social-networks {
    flex-shrink: 0;
    align-self: center;
}

/* media query: tablets and larger (768px and greater) */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* media query: laptops and larger (992px and greater) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #f7f7f7;
        }

        footer a:hover {
            border-bottom: 1px solid #f7f7f7;
        }