/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f7f7f7;
}

h4 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

strong {
    font-size: 200%;
    color: #3a3a3a;
}

.hidden-heading {
    display: none;
}

/* Header formatting */
header {
    background-color: #252525;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #252525;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    font: 100%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #f7f7f7;
}

/* navigation bar with dropdown toggle */
nav {
    position: absolute;
    background-color: #252525;
    padding: 0 1rem;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #252525;
    display: none;
    top: 100%;
    color: #f7f7f7;
}

/* navigation toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
    color: #f7f7f7;
}

/* Main content */
main {
    /* Enlarge main element to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero") no-repeat center center/cover;
    position: relative;
}

#intro {
    /* the last rgba value sets the opacity so it is transparent */
    background-color: rgb(184, 134, 11, .9);
    font-size: 130%;
    position: absolute;
    bottom: 80px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#intro>h2,
#intro>h3 {
    color: #f7f7f7;
}

/* oliver section */
#face-image {
    height: 100vh;
    width: 90vw;
    margin: 15px;
    background: url("../images/face") no-repeat center center/cover;
    position: relative;
    max-width: 300px;
    max-height: 354px;
}

#face {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tagline-text {
    margin: 15px;
}

/* about section */
#about-me {
    background-color: rgba(241, 109, 107, .8);
}

#skills,
#values,
#contact {
    margin: 20px;
    color: #f7f7f7;
}

#contact a {
    font-size: 80%;
    text-decoration: underline;
    color: #3a3a3a;
}

/* employment section */
#employment h3 {
    text-align: center;
    margin: 20px;
}

#fsc-logo-image {
    height: 70px;
    width: 160px;
    margin: 15px;
    background: url("../images/fsc") no-repeat center center/cover;
    max-width: 300px;
    max-height: 240px;
}

#fsc-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fsc-text {
    margin: 15px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 15px;
}

#pwc-logo-image {
    height: 121px;
    width: 159px;
    margin: 15px;
    background: url("../images/pwc") no-repeat center center/cover;
    max-width: 300px;
    max-height: 240px;
}

#pwc-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pwc-text {
    margin: 15px;
}

/* fav organizations section */
#organizations h3 {
    text-align: center;
    margin: 20px;
}

#logos img {
    width: 100%;
    line-height: 0;
}

#logos {
    column-count: 2;
}

/* call to action section */
#action {
    background-color: rgb(184, 134, 11, .8);
}

#action-text {
    padding-top: 20px;
    text-align: center;
    color: #f7f7f7;
}

.button {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #3a3a3a;
}

.button a {
    color: #f7f7f7;
    font-size: 100%;
    font: inherit;
    text-decoration: none;
}

/* Footer */
footer {
    display: flex;
    background-color: #252525;
    padding: 0 1rem;
    width: 100%;
    bottom: 0;
    right: 0;
    letter-spacing: 2px;
    flex-basis: auto;
    justify-content: space-between;
    list-style-type: none;
    color: #f7f7f7;
}

footer i {
    font-size: 150%;
    padding: 10px;
    color: #f7f7f7;
}

footer a {
    font-size: 100%;
    text-decoration: none;
    color: #f7f7f7;
}

#social-networks {
    flex-shrink: 0;
    align-self: center;
}

/* media query: tablets and larger (768px and greater) */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* main content */
    main {
        /* push main content down to accomodate larger header */
        margin-top: 77px;
    }

    /* Hero */
    #intro {
        width: 300px;
        right: 50px;
    }

    #identity {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #about-me {
        display: flex;
        align-items: top;
        justify-content: space-around;
    }

    #fsc {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-basis: 300px;
    }

    #fsc-text {
        flex-basis: 500px;
    }

    #pwc {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #pwc-text {
        order: -1;
        flex-basis: 500px;
    }

    /* fav organizations */
    #logos {
        column-count: 4;
    }

    /* media query: laptops and larger (992px and greater) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #f7f7f7;
        }

        footer a:hover {
            border-bottom: 1px solid #f7f7f7;
        }